
.grid {
    -fx-hgap: 2;
    -fx-vgap: 2;
    -fx-alignment: center;
}

.dices {
    -fx-min-width: 75;
    -fx-max-width: 75;
    -fx-min-height: 75;
    -fx-max-height: 75;
}

HBox {
    -fx-alignment: center;
}

.button {
    -fx-background-color: transparent;
}

.labels Label {
    -fx-pref-width: 250;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 5
}

.labels HBox {
    -fx-spacing: 10;
}


.grid Label {
    -fx-min-width: 75;
    -fx-max-width: 75;
    -fx-min-height: 75;
    -fx-max-height: 75;
    -fx-background-insets: 1;
    -fx-background-radius: 4;
}

.grid Label, .button, .labels Label, ImageView {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-alignment: center;
}

.backgroundPaneDialog {
    /*-fx-background-color: #f6fff8;*/
    -fx-background-image: url("../images/backgrounds/dialog.png");
    -fx-background-size: cover;
}
.backgroundPane {
    -fx-background-image: url("../images/backgrounds/board.png");
    -fx-background-size: cover;
}

ImageView {
    -fx-alignment: center;
}

.loser {
    -fx-text-fill: #8C8C8C;
}

.buttonSettings {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}